*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: white;
    display: flex;
    justify-content: center;
    color: black;
    background: linear-gradient(to right bottom, rgb(26, 34, 51), rgb(23, 37, 84));
    color: white
}
.temperature_converter{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.title_container{
    text-align: center;
    margin-bottom: 50px;
}
.conversion_card{
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: rgb(46, 58, 76);
}
.converting_inputs >label{
    display: inline-block;
    margin-bottom: 10px;
}
div.conversion_card div.converting_inputs >input{ 
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid rgb(156, 163, 175);
    border-radius: 10px;
    background-color: rgb(170, 179, 197);
    color: black;
    outline: none;
    /* width: 20px; */

}
.temperature_input::placeholder{
    color: black;
    font-weight: 600;
}
.unit_selection_container{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;

}
.unit_wrapper select{
    padding: 15px;
    border: 2px solid #d1d5db;
    border-radius: 10px;
    background-color: rgb(170, 179, 197);
    font-weight: 600;
    outline: none;
}
.unit_wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.conversion_button{
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    font-weight: 600;
    background-color:rgb(101, 103, 255);
    color: white;
    border: none;
    cursor: pointer;
}
.result_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    width: 400px;
    background-color: red;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(46, 58, 76);
}
.result_display{
    background-color: blue;
    padding: 15px;
    border: 2px solid rgb(129, 140, 248);
    border-radius: 10px;
    background-color: rgba(46, 38, 165, 0.326);
}
.result_value{
    display: flex;
    justify-content: space-between;
}
.equivalent_results{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}
.temp{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(170, 179, 197);
    color: black;
    font-weight: 600;

}